 #login{
margin: 20px 30% 10px 30%;
width: 30%;
border: 1px solid black;
padding: 20px;
}
/* #email{
    margin: 5px;
}
#name{
    margin: 5px 5px 5px 9px;
}
#buttons{
    margin: 0 30%;
}
button{
    border-radius: 5px;
    padding: 5px 30px 5px 30px;
}
#reset{
    border-radius: 5px;
    padding: 5px 30px 5px 30px;  
}
 */ */
